body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-containner {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
}

.half-width img {
    width: 75%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.right-padding {
    padding-right: 200px;
}

.experience-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
}

#web-dev {
    border-left: 5px solid;
    border-image: linear-gradient(yellow, orange);
    border-image-slice: 1;
}

#full-dev {
    border-left: 5px solid;
    border-image: linear-gradient(tomato, red);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}