body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
}

.half-width img {
    width: 75%;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}